<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link type="text/css" href="css/styles.css" rel="stylesheet">
</head>

<body>

    <div class="box" id="heading">
        <h1><%= listTitle %> </h1>
    </div>

    <div class="box">
        <% eitems.forEach(function(item){ %>
            <div class="item">
                <input type="checkbox">
                <p><%= item %></p>
            </div>
        <% }); %>
        
        <form class="item" action=<%= epageName %>  method="POST">
            <input type="text" name="newItem" id="" placeholder="new Item" autocomplete="off"><br>
            <button type="submit" name="list" value=<%= listTitle %>>+</button>
        </form>
    </div>



</body>

</html>