<%- include("partials/header") -%>
 
<!--  
<form action="/owner" method="POST">
    <label>Name</label><input type="text" name="name" placeholder="name"><br>
    <label>Email</label><input type="text" name="email" placeholder="email"><br>
    <label>Username</label><input type="text" name="username" placeholder="username"><br>
    <label>Password</label><input type="text" name="password" placeholder="password"><br>
    <label>Shop NAme</label><input type="text" name="shopname" placeholder="shopname"><br><br>

    Enter Shop Location
    <label>Latitude</label><input type="text" name="latitude" placeholder="latitude"><br>
    <label>Longitude</label><input type="text" name="longitude" placeholder="longitude"><br>
    <br>
    <button type="submit">Register</button>

</form>
 -->

 <script>
    document.body.style.background =" rgb(45, 65, 23)";
    document.body.style.color =" #ffffff";
    var myobj = document.getElementById("signIn");
    myobj.remove();
</script>

<div class="login-form mt-5">
    <form action="/owner" method="POST">
		<div class="avatar">
			<img src="img/examples/login_avatar.png" alt="Avatar">
		</div>
        <h2 class="text-center"style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Register as Owner</h2>
        <div class="form-group">
        	<input class="form-control" type="text" name="name" placeholder="Name"required="required">
        </div>
        <div class="form-group">
        	<input class="form-control" type="text" name="phone" placeholder="Phone"required="required">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Username" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
        </div>
        
        <div class="form-group">
        	<input type="text" class="form-control" name="shopname" placeholder="Shopname" required="required">
        </div>
        <div class="form-group">
        	<input class="form-control" type="text" name="latitude" placeholder="Latitude"required="required">
        </div>
        <div class="form-group">
        	<input type="text" class="form-control" name="longitude" placeholder="Longitude" required="required">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Sign Up</button>
        </div>
    </form>
    <p class="text-center small" style="color: black; font-size: medium;">Don't have an account? <a href="/login">Sign In here!</a></p>
</div>

</body>
</html>